body {
  font-family: 'Arial';
  background: #F2D492;
  margin: 0;
  padding: 0;
}

h1 {
  background: #202C39;
  color: #B8B08D;
  margin-top: 0;
  text-align: center;
  padding: .5em;
}
p {
  width: 96vw;
  margin: 0 auto;
}
